# **Librerías**

In [2]:
import pandas as pd

# **Dataset**

In [3]:
df = pd.read_csv('../data/Numero_de_Veh_culos_El_ctricos_-_Hibridos_20250328.csv', sep=',')
df.head(5)

,COMBUSTIBLE,ESTADO,MODELO,FECHA_REGISTRO,AÑO_REGISTRO,CLASIFICACION,CLASE,SERVICIO,MARCA,LINEA,...,MODALIDAD,ORGANISMO_TRANSITO,MUNICIPIO,DEPARTAMENTO,CAPACIDAD_CARGA,CAPACIDAD_PASAJEROS,PESO,POTENCIA,EJES,CANTIDAD
0,ELECTRICO,ACTIVO,2022,06/30/2022 12:00:00 AM,2022,AUTOMOVIL,BUS,Público,BYD,BC11S01,...,PASAJEROS,SDM - BOGOTA D.C.,BOGOTA,Bogota D.C.,NaN,49.0,20000.0,402.0,2.0,1
1,ELECTRICO,ACTIVO,2023,10/21/2022 12:00:00 AM,2022,AUTOMOVIL,CAMIONETA,Particular,BYD,YUAN PRO EV,...,NaN,INSTITUTO DE MOVILIDAD DE PEREIRA,PEREIRA,Risaralda,NaN,NaN,1980.0,134.0,2.0,1
2,ELECTRICO,ACTIVO,2014,09/28/2015 12:00:00 AM,2015,MOTO,MOTOCICLETA,Particular,E-MOTORI,VITA,...,NaN,STRIA TTOyTTE MCPAL FLORENCIA,FLORENCIA,Caqueta,NaN,NaN,NaN,NaN,NaN,1
3,ELECTRICO,ACTIVO,2021,08/10/2022 12:00:00 AM,2022,AUTOMOVIL,CAMIONETA,Público,DONGFENG,DFA5030XXYABEV7,...,CARGA,STRIA TTOyTTE MCPAL FUNZA,FUNZA,Cundinamarca,845.0,NaN,2550.0,80.0,NaN,1
4,ELECTRICO,ACTIVO,2022,10/25/2021 12:00:00 AM,2021,AUTOMOVIL,CAMIONETA,Particular,BYD,SONG PRO EV,...,NaN,STRIA TTEyMOV CUND/EL ROSAL,EL ROSAL,Cundinamarca,NaN,NaN,2120.0,161.0,2.0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56545 entries, 0 to 56544
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COMBUSTIBLE          56545 non-null  object
 1   ESTADO               56545 non-null  object
 2   MODELO               56545 non-null  int64
 3   FECHA_REGISTRO       56545 non-null  object
 4   AÑO_REGISTRO         56545 non-null  int64
 5   CLASIFICACION        56545 non-null  object
 6   CLASE                56545 non-null  object
 7   SERVICIO             56545 non-null  object
 8   MARCA                56545 non-null  object
 9   LINEA                56545 non-null  object
 10  CARROCERIA           56545 non-null  object
 11  CILINDRAJE           53054 non-null  float64
 12  MODALIDAD            36663 non-null  object
 13  ORGANISMO_TRANSITO   56545 non-null  object
 14  MUNICIPIO            56545 non-null  object
 15  DEPARTAMENTO         56545 non-null  object
 16  CAPACIDAD_CARGA      6220 non-null   float64
 17  CAPACIDAD_PASAJEROS  1311 non-null   float64
 18  PESO                 54116 non-null  float64
 19  POTENCIA             55548 non-null  float64
 20  EJES                 54473 non-null  float64
 21  CANTIDAD             56545 non-null  int64
dtypes: float64(6), int64(3), object(13)
memory usage: 9.5+ MB

## **Manejo de nulos,outliers, datos inconsistentes y elección de características**

### *Elección de características*

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56545 entries, 0 to 56544
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COMBUSTIBLE          56545 non-null  object
 1   ESTADO               56545 non-null  object
 2   MODELO               56545 non-null  int64
 3   FECHA_REGISTRO       56545 non-null  object
 4   AÑO_REGISTRO         56545 non-null  int64
 5   CLASIFICACION        56545 non-null  object
 6   CLASE                56545 non-null  object
 7   SERVICIO             56545 non-null  object
 8   MARCA                56545 non-null  object
 9   LINEA                56545 non-null  object
 10  CARROCERIA           56545 non-null  object
 11  CILINDRAJE           53054 non-null  float64
 12  MODALIDAD            36663 non-null  object
 13  ORGANISMO_TRANSITO   56545 non-null  object
 14  MUNICIPIO            56545 non-null  object
 15  DEPARTAMENTO         56545 non-null  object
 16  CAPACIDAD_CARGA      6220 non-null   float64
 17  CAPACIDAD_PASAJEROS  1311 non-null   float64
 18  PESO                 54116 non-null  float64
 19  POTENCIA             55548 non-null  float64
 20  EJES                 54473 non-null  float64
 21  CANTIDAD             56545 non-null  int64
dtypes: float64(6), int64(3), object(13)
memory usage: 9.5+ MB

In [15]:
df['CLASIFICACION'].value_counts()

CLASIFICACION
AUTOMOVIL    54682
MOTO          1623
MOTOCARRO      240
Name: count, dtype: int64

In [14]:
df['CLASE'].value_counts()

CLASE
CAMIONETA       29565
AUTOMOVIL       17061
CAMPERO          4541
BUS              1962
MOTOCICLETA      1416
CUADRICICLO      1016
CAMION            530
MOTOCARRO         240
TRICIMOTO         188
MOTOTRICICLO       16
MICROBUS            6
CUATRIMOTO          3
TRACTOCAMION        1
Name: count, dtype: int64

In [6]:
df['ESTADO'].unique()

array(['ACTIVO', 'REGISTRADO'], dtype=object)

In [7]:
df['COMBUSTIBLE'].value_counts()

COMBUSTIBLE
GASO ELEC    45550
ELECTRICO     9574
DIES ELEC     1421
Name: count, dtype: int64

In [9]:
df['LINEA'].nunique()

589

In [10]:
df['CARROCERIA'].nunique()

42

In [11]:
df['CILINDRAJE'].nunique()

121

In [12]:
df['MODALIDAD'].value_counts()

MODALIDAD
PASAJEROS    35041
CARGA         1323
MIXTO          299
Name: count, dtype: int64

In [13]:
df['CANTIDAD'].value_counts()

CANTIDAD
1    56545
Name: count, dtype: int64

In [16]:
df['PESO'].nunique()

272

In [18]:
df['EJES'].value_counts()

EJES
2.0     53866
0.0       561
3.0        36
1.0         4
21.0        2
5.0         2
4.0         2
Name: count, dtype: int64

La columna 'EJES' tiene una posible incongruencia. Se debe eliminar las filas que tienen 0 ejes o realizar imputación de datos en su momento

In [17]:
df['POTENCIA'].nunique()

206

Dada la lista anterior de la información general del dataset, se eliminan las siguientes variables que no se alinean al objetivo de la investigación:
* CAPACIDAD_PASAJEROS: No se analiza cuantos pasajeros moviliza un vehículo, pues la investigación no se centra en si es un bus (que es por lo que está la columna en el dataset) o si es un vehículo de pasajeros. Y aún así, los datos no nulos son muy pocos. Si se intenta una imputación de datos, no se podría adivinar si un vehículo moviliza entre 1, 2 o 5 pasajeros (como se ve en el caso de distintos vehículos eléctricos e híbridos en el mercado)
* CAPACIDAD_CARGA:  Los datos nulos son demasiados. No se puede hacer imputación de datos porque la capacidad de carga en cada vehículo no sigue una tendencia marcada en el mercado y la falta de datos no permite ver patrones marcados.
* ESTADO: Los datos que contiene 'ESTADO' son 'REGISTRADO' y 'ACTIVO'. La intención es realizar un analisis de datos del mercado de vehículos eléctricos e híbridos en el país, por lo que sirven vehículos que estuvieron activos y también que están activos. Por lo tanto, se sabe que un vehículo 'ACTIVO' es 'REGISTRADO', y un vehículo 'REGISTRADO' alguna vez estuvo 'ACTIVO' o fue si quiera comprado para el territorio, por lo que esta columna es redundante para el objetivo de la investigación.
* ORGANISMO_TRANSITO: Esta columna es redundante dado que ya se tienen datos de ubicación como MUNICIPIO y DEPARTAMENTO
* CANTIDAD: Esta columna es redundante, ya que la cantidad en todas las filas es 1, que es la cantidad de vehículos registrados.
* CLASIFICACION: Esta es una columna con visión más general que la columna 'CLASE'. Se podría aprovechar mejor la columna 'CLASE' para modelos de predicción o clasificación posiblemente más precisos en un futuro.

In [20]:
df_filtered = df.drop(columns=['CAPACIDAD_PASAJEROS', 'CAPACIDAD_CARGA', 'ESTADO', 'ORGANISMO_TRANSITO', 'CANTIDAD', 'CLASIFICACION'])
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56545 entries, 0 to 56544
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   COMBUSTIBLE     56545 non-null  object
 1   MODELO          56545 non-null  int64
 2   FECHA_REGISTRO  56545 non-null  object
 3   AÑO_REGISTRO    56545 non-null  int64
 4   CLASE           56545 non-null  object
 5   SERVICIO        56545 non-null  object
 6   MARCA           56545 non-null  object
 7   LINEA           56545 non-null  object
 8   CARROCERIA      56545 non-null  object
 9   CILINDRAJE      53054 non-null  float64
 10  MODALIDAD       36663 non-null  object
 11  MUNICIPIO       56545 non-null  object
 12  DEPARTAMENTO    56545 non-null  object
 13  PESO            54116 non-null  float64
 14  POTENCIA        55548 non-null  float64
 15  EJES            54473 non-null  float64
dtypes: float64(4), int64(2), object(10)
memory usage: 6.9+ MB